.genre {
  display: grid;
  margin-left: 24px;
  margin-right: 24px;

  @media(min-width: $tablet-width) {
    margin-left: 80px;
    margin-right: 80px;
  }
}

.genre__title {
  margin: 0;
  margin-top: 40px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
  text-align: left;

  @media(min-width: $tablet-width) {
    margin-top: 80px;
  }
}

.genre__list {
  display: grid;
  grid-template-rows: repeat(5, 64px);
  row-gap: 10px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  text-align: left;

  @media(min-width: $tablet-width) {
    margin-top: 60px;
    row-gap: 20px;
  }
}

.genre__item {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  justify-items: center;
  padding-left: 12px;
  align-items: center;
  &--active {
   border: 2px solid #ffffff;
   border-radius: 15px;
  }
}

.genre__svg {
  &--action {
   transform: scale(2);
  }
  &--simulation {
    transform: scale(0.75);
  }
  &--sports {
    transform: scale(0.75);
  }
  &--strategy {
    transform: scale(0.8);
  }
}

.genre__svg-checked {
  display: none;
  transform: scale(0.4);
  &--active {
    display: block;
  }
}

.genre__text {
  margin: 0;
  margin-left: 12px;
  justify-self: flex-start;
}

.genre__button {
  display: flex;
  width: 326px;
  height: 50px;
  margin-top: 60px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #ffffff;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  background-color: orangered;
  filter: brightness(0.5);
  &--active {
    filter: brightness(1);
  }

  @media(min-width: $tablet-width) {
    margin-top: 180px;
  }
}

