.page {
  width: 100%;
  min-width: 374px;
  background-color: #000000;
}

.page__body {
  width: 100%;
  margin: 0;
  &--games {
    display: grid;
    min-height: 620px;
    margin: 0;
    grid-template-rows: 1fr min-content;
  }
}
